<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
      Hackernews
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-spinner *ngIf="isLoading" class="hn-initial-loading-spinner"></ion-spinner>

  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-virtual-scroll [items]="items" approxItemHeight="320px">>
    <ion-item *virtualItem="let item" class="hn-item">
      <ion-label (click)="goToPost(item.url)">
        <h2 class="hn-item-title">{{item.title}}</h2>
        <p><a href="{{item.url}}">{{item.url}}</a></p>
        <p>by {{item.by}} | {{item.score}} points</p>
      </ion-label>
    </ion-item>
  </ion-virtual-scroll>
</ion-content>
