.hn-item-title {
    overflow: hidden;
    text-overflow: ellipsis;
}

.hn-item {
    cursor: pointer;
}

.hn-initial-loading-spinner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}